@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-offwhite: #f7f7f7;
  --color-ashBlack: #252527;
  --color-customblue: #1e88e5;
  --color-customDarkblue: #005cb2;
  --color-customOrange: #f18b21;
  --color-lightCustomOrange: #f5a347;
  --color-darkCustomOrange: #b26518;
  --color-facebook: #4267b2;
}

@layer utilities {
  .bg-hero {
    background-image: url("../assets/HomePage/HeroSection/Hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-featured {
    background-image: url("../assets/HomePage/FeaturedSection/Featured.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-benefits {
    background-image: url("../assets/HomePage/BenefitsSection/Benefits.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.swal2-container {
  z-index: 2000 !important;
}
